{% extends 'blog_base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">
                            {% if post %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        <a
                                class="btn btn-primary"
                                href="{% url 'blog:post_list' %}"
                                role="button">Назад
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}