{% extends 'catalog_base.html' %}
{% load my_tags %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image|media_filter }}"
                         class="card-img-top"
                         style="height: 250px;
                         object-fit: contain;
                         background: #f8f8f8;">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
                        <p>{{ product.description|truncatechars:100 }}</p>
                        <a class="btn btn-primary" href="{% url 'catalog:home' %}">
                            Назад
                        </a>
                        <a class="btn btn-primary" href="#">
                            Купить
                        </a>
                        <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}">
                            Редактировать
                        </a>
                        <a class="btn btn-primary" href="{% url 'catalog:product_confirm_delete' product.pk %}">
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
